<div *ngIf="hero" class="text-center">
  <h2>{{hero.name | uppercase}} Details</h2>

  <div>
    <span>id: </span>
    {{ hero.id }}
  </div>
  <div *ngIf="auth.user$ | async as user">
    <div *ngIf = "user.email === 'hamayun.waheed1999@gmail.com'; else no">
      <label>name: 
        <input [(ngModel)]="hero.name" placeholder="name">
      </label>
    </div>
    <ng-template #no>
      <div>name: <span>{{ hero.name }}</span></div>
    </ng-template>
  </div>
</div>

<button class="btn btn-dark ml-1" (click) = 'goBack()'>Back</button>