<div class = 'd-flex justify-content-center mt-3'>
  <div class="text-center">
    <h3>Search Heroes</h3>
    <div class="wrap">
      <div class="search">
        <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="What are you looking for?">
      </div>

      <div *ngIf="term && term.length">
        <div *ngFor="let item of heroes | filter:term">
          <a routerLink = '/detail/{{item.id}}'>
            {{ item.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>