<div class=" d-flex justify-content-end pr-2 mt-2">
  <button class= "btn btn-info mr-2" routerLink = '/user'>Account Details</button>
  <app-login *ngIf = "(auth.isAuthenticated$ | async) === false"></app-login>
  <app-logout *ngIf = "(auth.isAuthenticated$ | async)"></app-logout>
</div>

<h3 class="m-3">
  Tour of Heroes
</h3>

<button routerLink = '/dashboard' type="button" class="btn btn-primary mx-3">DashBoard</button>

<button routerLink='/heroes' type="button" class="btn btn-primary">Heroes</button>